# Ignore virtual environment
.venv/
*.pyc
__pycache__/

# Ignore VS Code configuration
.vscode/

# Ignore instance directory (contains sensitive data like config or database)
instance/

# Ignore compiled/static files
staticfiles/
*.log
*.sqlite3

# Ignore anything generated during runtime
*.tmp
*.swp
